body.oe_single_form {
  background: #eee url(/sd_custom_login/static/src/img/p.png);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom; 
    background-size: cover;

}
body.oe_single_form .oe_single_form_logo {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
body.oe_single_form .oe_single_form_footer {
  position: absolute;
  bottom: -30px;
  right: 0px;
  width: 100%;
  text-align: center;
  color: black;
  font: bold 13px/30px Arial;
}

.oe_single_form_footer a{
    color: white;
}
.oe_single_form_footer a:hover{
    color: blue;
}

body.oe_single_form .oe_single_form_container {
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  /*height: 300px;
  /* Set margins to offset 50% of the w/h */
  margin-top: -200px;
  margin-left: -200px;
  text-align: center;
 /* color: #FFFFFF;
  background: #000000;
  opacity: 0.9;*/
}
